{% extends 'base.html' %}
{% block title %} 회원가입 완료 {% endblock %}
{% block content %}
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
  html, body{
    width:100%;
    overflow-x:hidden;
}

    button {
      font-size: 0.7rem;
      text-transform: uppercase;
      padding: 10px 30px;
      border: 1px solid #ccc;
      background: white;
      transition: 0.3s;
      max-width: 100px;
    }

    button:hover {
      background: crimson;
      color: white;
      cursor: pointer;
    }

/* 회원가입을 환영합니다 문구 */
    .wel1{
      width: 500px;
      margin: 0 auto;
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 32px;
      color:darkgrey;
    }

@media screen and (max-width: 1024px) {
  .wel1 {
      font-size: 15px;
      margin-right: 330px;
  }
}

 ion-icon {
      font-size: 5rem;
      margin: 2.4rem auto;
      margin-bottom: 10px;
      color: #c80a1e;
    }

@media screen and (max-width: 1024px) {
  ion-icon {
      font-size: 60px;
      margin-right: 130px;
  }
}

/* 회원가입이 완료되었습니다 문구 */
    .wel1 h1{
      font-size: 2.5rem;
      margin-bottom: 30px;
      color: #333;
    }

@media screen and (max-width: 1024px) {
  .wel1 h1 {
      font-size: 23px;
      margin-right: 130px;
  }
}

@media screen and (max-width: 1024px) {
  .wel1 h3 {
      font-size: 17px;
      margin-right: 130px;
      margin-top: -10px;
  }
}

/* 홈으로, 로그인 */
    .wel2{
      width: 500px;
      margin: 0 auto;
      padding:2rem 0;
      text-align: center;
    }

    .wel2 a{
      width: 200px;
      padding: 10px 80px;
      margin: auto 10px;
      border: 1px solid #000;
      font-size: 1rem;
      color: #000;
      transition: .5s;
    }

    .wel2 a:hover{
      background: #000;
      color: #fff;
    }

@media screen and (min-width: 1025px) {
    .well {
        display: none;
    }
}

@media screen and (min-width: 1025px) {
    .well2 {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .wel2{
      width: 500px;
      margin: 0 auto;
      padding:2rem 0;
      text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .wel2 a{
      width: 200px;
      padding: 10px 80px;
      margin: auto 10px;
      border: 1px solid #000;
      font-size: 1rem;
      color: #000;
      transition: .5s;
    }
}


@media screen and (max-width: 1024px) {
    .wel2 {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .well{
      width: 500px;
      margin-left: -65px;
      padding:2rem 0;
      text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .well a{
      width: 200px;
      padding: 10px 80px;
      margin: auto 10px;
      border: 1px solid #000;
      font-size: 1rem;
      color: #000;
      transition: .5s;
    }
}

@media screen and (max-width: 1024px) {
    .well a:hover{
      background: #000;
      color: #fff;
    }
}

@media screen and (max-width: 1024px) {
    .well2{
      width: 500px;
      margin-top: -30px;
      margin-left: -65px;
      padding:2rem 0;
      text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .well2 a{
      width: 200px;
      padding: 10px 80px;
      margin: auto 10px;
      border: 1px solid #000;
      font-size: 1rem;
      color: #000;
      transition: .5s;
    }
}

@media screen and (max-width: 1024px) {
    .well2 a:hover{
      background: #000;
      color: #fff;
    }
}

@media screen and (max-width: 1024px) {
    .wel2 {
        display: none;
    }
}
  </style>

<body>

  <article class="welcome">
            <div class="wel1">
              <ion-icon name="checkmark-sharp"></ion-icon>
              <h1>회원가입이 완료 되었습니다.</h1>
              <h3><b>{{new_member.username}}</b>님, 가입을 환영합니다.</h3>
            </div>
            <div class="wel2">
              <a class="home" href="/">홈으로</a>
              <a href="{% url 'zeronine:login' %}">로그인</a>
            </div>
            <div class="well">
              <a class="home" href="/">홈으로</a>
            </div>
            <div class="well2">
              <a href="{% url 'zeronine:login' %}">로그인</a>
            </div>
  </article>


</body>


{% endblock %}